@{
    ViewData["Title"] = "Home Page";
}


<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center p-5 border border-dark rounded-3 shadow-lg bg-light">
        <h1 class="display-3 fw-bold text-uppercase">Hi, Wanna Watch Movies?</h1>
        <p class="lead">Join us and start renting your favorite films today!</p>

       
    </div>
</div>

